<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{% block title %}Editorial by HTML5 UP{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
		<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
		{% endblock %}
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="{{ path('app_index') }}" class="logo"><strong>Editorial</strong> by HTML5 UP</a>
								</header>							

							<!-- Content -->
								<section>
									{% block body %}

									{% endblock %}
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									{{ include('_menu.html.twig') }}
								</nav>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; 2022. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
		<!-- Scripts -->
			<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
			<script src="{{ asset('assets/js/browser.min.js') }}"></script>
			<script src="{{ asset('assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ asset('assets/js/util.js') }}"></script>
			<script src="{{ asset('assets/js/main.js') }}"></script>
		{% endblock %}

	</body>
</html>